<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="header_left flex">
                <nav>
                    <ul id="menuu">
                        <li id="logo"><img src="static/img/vector.png" alt="Horseshoes"></li>
                        <li><a class="current" href="/admin_index">Главная</a></li>
                        <li><a href="/Show_Commands">Записи</a></li>
                        <li><a href="/admin/logout">Выйти</a></li>
                    </ul>
                </nav>
                <h1 class="acenter aself">Салон красоты «Beauty-Secret»</h1>
                <a id="button" href="#footer">
                    <button  class="acenter aself flex" id="scroll_down">
                            <img src="static/img/mouse.png" alt="Mouse"><span>Прокрутите вниз</span>
                    </button>
                </a>
            </div>
        </div>
    </header>
    <main id="main">
{% block content %} <!-- вложенные шаблоны -->
    {% block comands %}
        <ul class="comands">
            {% for p in menu %}
                <li><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>
    {% endblock comands %}
    {% endblock -%}


    <div class="container two flex">
            <img id="apastrofa" src="static/img/d.png" alt="Apastrofa">
            <p id="about">Приятная атмосфера и максимум комфорта окружат Вас с первых минут пребывания в салоне красоты «Beauty-Secret». Мы знаем, что наши клиенты имеют право на наивысшее качество. Это касается всех компонентов нашей работы.Салон красоты (название) приглашает вас к себе в гости. Стрижка, укладка, окрашивание, маникюр, педикюр, оформление бровей, массаж, косметологические уходы и SPA – всё это ждёт именно вас (список услуг зависит о того, какие процедуры вы предлагаете клиентам).</p>
            <div class="row">
                <div class="col">
                    <a href="">
                        <div class="block"><img src="static/img/hair.jpg" alt="Hair"></div>
                        <h6>Парикмахерские услуги</h6>
                    </a>
                </div>
                <div class="col">
                    <a href="">
                        <div class="block"><img src="static/img/nails.jpg" alt="Nails"></div>
                        <h6>Маникюр</h6>
                    </a>
                </div>
                <div class="col">
                    <a href="">
                        <div class="block"><img src="static/img/foot.jpg" alt="Foot"></div>
                        <h6>Педикюр</h6>
                    </a>
                </div>
                <div class="col">
                    <a href="">
                        <div class="block"><img src="static/img/face.jpg" alt="Face"></div>
                        <h6>Косметология</h6>
                    </a>
                </div>
                <div class="col">
                    <a href="">
                        <div class="block"><img src="static/img/gel.jpg" alt="Gel"></div>
                        <h6>Эстетист по телу</h6>
                    </a>
                </div>
                <div class="col">
                    <a href="">
                        <div class="block"><img src="static/img/cosmetics.jpg" alt="Cosmetics"></div>
                        <h6>Визаж</h6>
                    </a>
                </div>
            </div>
            <div class="icons flex">
                <a href="index.php"><img src="static/img/kevin2.png" alt="Kevin Logo"></a>
                <a href="index.php"><img src="static/img/oribe2.png" alt="Oribe Logo"></a>
                <a href="index.php"><img src="static/img/alterna.png" alt="Alterna Logo"></a>
                <a href="index.php"><img src="static/img/aldo2.png" alt="Aldo Logo"></a>
            </div>
            <h2>Наши работы</h2>
                <ul id="menuu" class="work">
                    <li><a href="index.html">Показать все</a></li>
                    <li><a href="index.html">Парикмахерские услуги</a></li>
                    <li><a href="index.html">Маникюр</a></li>
                    <li><a href="index.html">Педикюр</a></li>
                </ul>
            <div class="row row2">
                <div class="col">
                    <img src="static/img/work-1.jpg" alt="">
                </div>
                <div class="col">
                    <img src="static/img/work-2.jpg" alt="">
                </div>
                <div class="col">
                    <img src="static/img/work-3.jpg" alt="">
                </div>
                <div class="col">
                    <img src="static/img/work-4.jpg" alt="">
                </div>
                <div class="col">
                    <img src="static/img/work-5.jpg" alt="">
                </div>
                <div class="col">
                    <img src="static/img/work-6.jpg" alt="">
                </div>
                <div class="col">
                    <img src="static/img/work-7.jpg" alt="">
                </div>
                <div class="col">
                    <img src="static/img/work-8.jpg" alt="">
                </div>
                <div class="col">
                    <img src="static/img/work-9.jpg" alt="">
                </div>
            </div>
        </div>
    </main>
    <footer id="footer">
    </footer>
    <script src="https://kit.fontawesome.com/d4a8753bf6.js" crossorigin="anonymous"></script>

</body>
</html>