<!DOCTYPE html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Dobro dosli u najbolji kafic na svetu">
    <meta name="keywords" content="Kafic">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylee.css') }}">
    <title>Salon</title>
        <title> Авторизация</title>
        </script>
</head>
<body>
<div class="container2">
            <form action="" method="post" role="form" class="eform mt-4" >
              {% for cat, msg in get_flashed_messages(True) %}
    <div class="{{ cat }}"> {{msg}}</div>
{% endfor %}
        <div>
          <div>
            <input type="text" name="login" id="name_of_comand" placeholder="Введите логин" required>
          </div>
          <div>
            <input type="text" name="psw" id="achivements" placeholder="Введите пароль" required>
          </div>
        </div>
        <div>
        </div>
        <div><button type="submit">Авторизоваться</button></div>
        </form>
            <a href="/" class ="knop">Выйти</a>
</div>
</form>
</body>
</html>
